* {
  box-sizing: border-box;
}

.shop-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.shop-list-item {
  border: 1px solid black;
  width: calc((100% - 48px) / 4);
}
