@import url(./reset.css);

* {
  box-sizing: border-box;
}

.shop-list,
.basket-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.shop-list-item {
  border: 1px solid black;
  width: calc((100% - 64px) / 5);
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  position: relative;
}

.shop-list-item-img {
  display: block;
  width: 50%;
}

.delete-product-btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: gray;
  position: absolute;
  top: 10px;
  right: 10px;
}
